body {
    margin: 0;
    padding: 0;
}
.selectedBox{
    padding: 50px 12px 40px 12px;
}
.submitSet{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff6d26;
    color: #fff;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.yellowWord{
    color: #ff6d26;
    font-size: 20px;
    padding: 0 5px;
}
.iputBox{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px  solid #cccccc;
}
.pickedMsg{
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding-bottom: 10px;
}
.inputTitle{
    float: left;
    width: 100px;
}
.inputContent{
    margin-left: 100px;
}
.inputContent input{
    font-size: 14px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}